.overlay{
    width: 100vw;
    height: 100vh;
    background: #00000082;
    position: absolute;
    padding-left: 75px;
    z-index: 4;

    .card{
        background: white;
        margin-top: 10%;
        width: 25rem;
        border-radius: 10px;
        height: fit-content;
        /* transform: translateX(-60%); */
        position: relative;


        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 13px 15px;

            p{
                font-weight: 600;
                font-size: 18px;
                
            }

            .fa-xmark{
                color: rgba(0, 0, 0, 0.603);
                cursor: pointer;
            }
        }

        .today {
            background: rgba(128, 128, 128, 0.185);
            font-weight: 200;
            font-size: 18px;
            padding: 11px 15px;

        }

        .notifs{

            .notif{
                display: flex;
                padding: 13px;
                position: relative;
                border-bottom: 1px solid rgba(132, 129, 129, 0.308);

                .profession{
                    opacity: 0.66;
                }

                .message{

                }
            }

            .img-profile{
                height: 40px;
                margin-right: 10px;
            }
        }  
    }
    .card::before{
        content: '';
        position: absolute;
        left: -2%;
        top: 6%;
        width: 20px;
        height: 20px;
        background: #fff;
        transform: rotate(45deg);
        border-radius: 3px;
        display: block;
    }
}



.move-right {
    transform: translateX(80%);
  }
