*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.app-container{
    overflow: hidden;
    background-color: #f0f5f9;
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    margin: 0 auto;
    min-height: 100vh;
  }